#dropArea {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    padding: 20px;
    margin: 10px;
}

#dropArea.highlight {
    border-color: dodgerblue;
}

p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

#dropArea > h3 {
    text-align: center;
}

.form {
    margin-bottom: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#chooseFiles {
    opacity: 0;
}

#chooseFileLabel {
    margin-top: 40px;
}
