{% load static %}

<html lang="en">
<head>
    <title>Storck</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/dragDrop.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% if user.is_authenticated %}
    <div id="root">
        <div id="workspaces">
            <div class="container">
                <h3 class="title">You are logged in as</h3>
                <div id="username"></div>
                <h3 class="title">token</h3>
                <div id="userToken">{{ token }}</div>
                <h3 class="title">id</h3>
                <div id="userId"></div>
                <a id="logout" class="actionButton" href="/view/logout">Logout</a>
            </div>
            <div class="container">
                <h3 class="title">Number of workspaces: <span id="workspacesNumber"></span></h3>
                <ul id="workspacesList">
                </ul>
            </div>
            <div class="container">
                <h3 class="title">Add new workspace</h3>
                <div id="addWorkspace">
                    <input type="text" id="workspace_name" name="workspace_name" />
                    <button class="actionButton" onclick="createWorkspace()">Add</button>
                </div>
            </div>
        </div>
        <div id="files">
            <div class="container">
                <div id="dropArea">
                    <h3 class="title">Upload file</h3>
                    <form class="form">
                        <label class="actionButton" for="chooseFiles" id="chooseFileLabel">Choose files</label>
                        <input type="file" id="chooseFiles" name="chooseFiles" multiple>
                        <p>or drag and drop them here<br/>(file name must have max 100 characters)</p>
                        <ul id="filesToUpload"></ul>
                        <button class="actionButton" id="upload" type="button" onclick="handleUpload()">Upload</button>
                    </form>
                </div>
            </div>
            <div id="filesList" class="container">
                <h3 class="title">Number of files: <span id="filesNumber"></span></h3>
                <ul id="filesListContent">
                </ul>
            </div>
        </div>
    </div>
    <div id="footer">#{{ commit_hash }} @ CERN</div>
    <script type=module src="{% static 'main/script.js' %}"></script>
    <script type=module src="{% static 'main/dragDrop.js' %}"></script>
    {% else %}
      <div id="login-container">
        <a class="actionButton" id="login-cern-sso" href="{% url 'oidc_authentication_init' %}">Login with CERN SSO</a>
      </div>
    {% endif %}
</body>
</html>
